@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

.header, .footer {
	height: 10vh;
	background-color: #142438;
}

.header, .footer-container {
	padding: 0 4em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.nav, .menu-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav {
	width: 30vw;
}

.header-text, .footer-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	line-height: 1.5rem;
	color: #EBDD8B;
}

.main {
	background-color: #344F75;
	height: 80vh;
}

.background {
	height: 70vh;
	background-image: url(../img/leaves1.png);
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 3px 7px #142438;
	display: flex;
	align-items: center;
}

.message {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.message-text {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 3rem;
	color: #E0AD4D;
	text-align: center;
}

form {
	box-sizing: border-box;
	margin-left: 5vw;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: calc(0.8rem + 1vh);
	color: #faf6d9;
}

.fieldset-main {
	box-sizing: border-box;
	width: 25vw;
	max-height: 60vh;
	min-width: 350px;
	border: 4px solid #EBDD8B;
	border-radius: 20px;
	padding: 20px;
	background-color: #344F75;
	overflow-y: auto;
}

::-webkit-scrollbar {
	display: none;
}

input, select {
	border: none;
	display: block;
	width: 100%;
	font-family: 'PT Mono', monospace;
	color: #a59d73;
	background-color: #344F75;
	margin-bottom: 1.2rem;
}

::placeholder {
	color: #a59d73;
}

input[type="text"], input[type="email"], input[type="number"], input[type="date"], input[type="time"] {
	box-shadow: 0 1px #142438;
}

select{
	border: 1px solid #142438;
}

input, select {
	height: 2vh;
}

label {
	line-height: 1.8rem;
}

input:focus, select:focus {
	outline-color: #142438;
}

input[type="submit"] {
	box-sizing: border-box;
	width: 25vw;
	min-width: 350px;
	margin: 10px 0 0;
	background-color: #142438;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: calc(0.8rem + 1vh);
	text-transform: uppercase;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
	color: #EBDD8B;
	border: 4px solid #EBDD8B;
}

input[type="submit"]:hover {
	background-color: #E0AD4D;
	color: #142438;
	border: 4px solid #EBDD8B;
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
}

.footer-container {
	height: 100%;
}

@media screen and (max-width: 667px) {

.background {
	height: 80vh;
	background-image: url(../img/leaves1.png);
	background-size: cover;
	background-repeat: no-repeat;
}

input, select {
	height: 4vh;
}

input[type="submit"] {
	width: 90vw;
	height: 7vh;
	border-radius: 3.5vh;
}

.fieldset-main {
	width: 90vw;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.header-text, .footer-text {
	font-size: calc(0.5rem + 1vh);
}

.header, .footer-container {
	padding: 0 1em;
}

.nav {
	width: 60vw;
}

.message {
	display: none;
}

}