@import url(reset.css);

.header {
	height: 60px;
	background-color:#FE1A19;
}

.header-title {
	position: absolute;
	left: 20px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}

.main {
	box-sizing: border-box;
	text-align: center;
	padding: 50px 45px;
}

.table {
	width: 400px;	
	height: 800px;
	position: relative;
	border: 5px solid #E5E000;
	border-radius: 30px;
	display: inline-block;
	margin: 25px;
	box-sizing: border-box;
	vertical-align: top;
	text-align: left;
}

.dish-title {
	margin: 33px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
}

.item-title {
	margin: 33px 33px 5px;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.list {
	margin: 0px 33px;
}

.item {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}


.footer {
	height: 60px;
	background-color:#FE1A19;
}

.copyright {
	margin: 20px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 60px;
	color: white;
}