@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

.inverse {
background-color: black;
color: white;
font-family: 'Major Mono Display', monospace;
letter-spacing: 0.1em;
}

.main-text {
font-family: 'Libre Franklin', sans-serif;	
}

.menu-container a {
color: #003049;
}

.menu-container a:hover {
background-color: yellow;
outline: 1px solid red;
text-decoration: none;
}

.brief {
outline: 5px dotted #FCBF49;
}

.history {
background-image: linear-gradient(#EAE2B7, #FCBF49, #F77F00, #D62828);
outline: 1px solid #003049;
}

.style {
box-shadow: 10px 10px 15px #003049;
}

.influences {
box-shadow: 0px 0px 15px orange;
border-radius: 10px;
}

.impact {
box-shadow: -5px -5px 0px red;
}

.controversies {
outline: thick double yellow;
}

.controversies .main-text {
background-color: rgba(0, 48, 73, 25%);
}

.controversies > .main-text {
outline: 3px dotted orange;
}

.members {
border: 5px dashed #003049;
border-radius: 20px;
}

.members li {
list-style-type: none;
}

.discography {
border: 5px solid;
border-image-source: linear-gradient(60deg, orange, red);
border-image-slice: 1;

}

.discography a {
color: black;
text-decoration: underline dotted #003049;
}

.discography a:hover {
background-color: red;
}